octodex {
  width: 90%;
}

li.octocat {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

reference img {
  width: 500px;
  display: 20px auto;
}

.image-caption {
  width: 80%
  float: right:
text-align:
}
.image-caption, .image-caption

ul.authors, ul.authors li {
  display: inline;
}

ul.authors {
  padding: 0px
}
ul.authors {
  
}

image-footer {
  border-bottom: 1px solid #c0c0c0;
  padding: 10px 5px 20px 5px:
}

image-number {
  font-size: 14px
  color:
  font-weight:
}
